*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --black: #000;
    --main: #ff6e68;
    --lightBlack: #2c2c2c;
}

body{
    font-family: sans-serif;
}

 .nav{
    width: 100%;
    position: sticky;
  top: 0;
    height: 100px;
    box-shadow: 0 5px 20px 2px rgba(251, 250, 250, 0.918);
     background: rgb(0, 0, 14); 
}

/* Nav component styles */

 .container{
    margin: 0 auto;
     width: 85%; 
     /* background: rgba(250, 0, 0, 0.1); */
} 

.nav-container{
    /* background: rgb(223, 38, 38); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    width: 85%;
    z-index: 1;
} 


.left img{
    width: 100px;
    border-radius: 50%;
}

.nav-items li{
    display: inline-block;
    list-style: none;
}

.nav-items li a{
    font-size: 22px;
    margin-left: 50px;
    text-decoration: none;
    color: rgb(250, 248, 248);
    transition: all .2s ease;
}

.nav-items li a:hover{
    background-color: rgb(255, 253, 253);
    padding: 4px 13px;
    border-radius: 5px;
    font-size: 25px;
    color: rgba(0, 0, 0, 1);

}


 .header{
    background: url('./header.jpg') /*no-repeat*/;
    width: 100%;
    height: 100vh;
} 

a{
    text-decoration: none;
}

.cart-icon{
    color: var(--main);
    font-size: 22px;
}

.basket{
    position:relative;
}

.basket span{
    background: var(--lightBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: var(--white);
    font-size: 12px;
}


.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.col-2{
    width: 16.3333333333333%;
}

.col-3{
    width: 25%;
}

.col-6{
    /* background: red; */
    width: 50%;
}

.col-9{
    width: 75%;
}

.mt-100{
    margin-top: 100px;
}

.product{
    width: 100%;
    overflow: hidden;
    padding: 25px;
}

.product_img{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.product_img img{
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    /* animation: imageTransition .5s ease;  */
}

.product_img img:hover{
    transform: scale(1.2);
}

.product_name{
    margin: 10px 0;
    text-transform: capitalize;
    color: #707070;

}

.product_discount_price{
    text-align: right;
    font-size: 18px;
}



.product_price .discount{
    color: silver;
    font-size: 13px;
}

.actualPrice{
    text-decoration: line-through;
    font-size: 18px;
}

/* Cart component styles */

.cart{
    margin-top: 100px;
}

.cart h3{
    font-weight: 400;
}

.cart_heading{
    background: #f4f6f8;
    padding: 5px;
}

.cart_image img{
    width: 70%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.verticalAlign{
    align-items: center;
    margin-top: 10px;
}

.text-center{ 
    text-align: center;
}

.cart_remove{
    cursor: pointer;
}

.summery{
    padding-left: 0px;
}

.summary_heading{
    background: #f4f6f8;
    padding: 10px;
    text-align: center;
}

.summary_details{
    background: var(--main);
    color: var(--white);
    padding: 5px;
    margin-top: 20px;
    padding-left:15px;
    padding-top:20px;
}

.mb-10{
    margin-bottom: 10px;
}

.checkout{
    border: none;
    cursor: none;
    outline: none;
    background: var(--white);
    color: var(--main);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left:20px;
    padding: 12px 15px;
    margin-left: 20px;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
}


@media(max-width: 765px){
    .container{
        width: 100%;
        padding: 0 30px;
        /* background: red; */
    }

    .col-2{
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    .col-9{
        width: 100%;
    }

    .cart_incDec{
        display: flex;
        justify-content: center;
    }

    .cart h3{ 
        text-align: center;
    }

    .col-3{
        width: 50%;
    }

    .col-6{
        width: 100%;
    }

    .cart_heading{
        display: none;
    }

    .summary-col{
        width: 100%!important;
    }
}


@media(max-width: 500px){
    .col-3{
        width: 100%;
    }

    .col-6{
        width: 100%;
    }

    .col-2{
        width: 100%;
    }
}

/* details components styles */

.details_img{
    width: 100%;
    height: auto;
    padding-right: 30px;
}

.details_img img{
    width: 100%;
    height: auto;
}

.details_name{
    font-size: 28px;
    font-weight: 400;
    text-transform: capitalize;

}
.details_price{
    margin: 10px 0;
}

.details_actual{
    text-decoration: line-through;
    font-size: 20px;
}

.details_discount{
    margin-left: 10px;
    font-size: 20px;
}

.dec, .inc, .quantity{
    width: 60px;
    height: 60px;
    border: 1px solid silver;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dec, .inc{
    cursor: pointer;
}

.details_incDec{
    display:flex;
}

.quantity{
    border-left: none;
    border-right: none;
}

.btn-default{
    margin-left: 10px;
    width: 100%;
    border: none;
    background: var(--main);
    color: var(--white);
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.details_p{
    margin-top: 15px;

}

.details_p h2{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}